                /* Urwa code */ 
                
        .navbar-toggler-icon {
          background-image: linear-gradient(to right, #ffffff 1px, transparent 1px),
                            linear-gradient(to bottom, #ffffff 1px, transparent 1px);
          background-size: 5px 5px;
          background-position: center;
      }               
.navbar{
    background-color: rgb(12, 12, 16);;
}
.nav-link{
    color: #5BC4F1    ;
}
.nav-link:hover{
    background-color: #404040;
    color: #99bce3;
    font-weight: bolder;
}
.btn {
    --fancy-button-gradient-0: #8d49fd;
    --fancy-button-gradient-50: #7f56f3;
    --fancy-button-gradient-100: #5691f3;
    --fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
    --fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
    --fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
    --fancy-button-shine-top: #e9d1ff;
    --fancy-button-shine-bottom: #adfff9;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-shadow: 0px 0.5px 0.5px rgba(17, 17, 17, 0.2);
    padding: 0;
    margin: 0;
    appearance: none;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-radius: 25px;
    color: #fff;
    background-image: linear-gradient(to bottom, var(--fancy-button-gradient-0) 0%, var(--fancy-button-gradient-50) 50%, var(--fancy-button-gradient-100) 100%);
    box-shadow: 0px 4px 12px rgba(9, 12, 60, 0.15), 0px 2px 8px rgba(9, 12, 60, 0.15), 0px 1px 3px var(--fancy-button-inner-shadow-top-lg), inset 0px 1px 1px var(--fancy-button-inner-shadow-top), inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
  }
  
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    border-radius: inherit;
    will-change: transform;
  }
  
  .btn:before {
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--fancy-button-shine-top);
    width: 96px;
    height: 6px;
    top: -3px;
    opacity: 0.6;
    filter: blur(6px);
    transition: opacity 0.25s;
  }
  
  .btn:after {
    inset: 0;
    background-size: cover;
    z-index: 2;
    opacity: 0.3;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom, var(--fancy-button-shine-top), transparent 8px);
    background-position: 0 -6px;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  .btn span:before, .btn span:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--fancy-button-shine-bottom);
    transition: opacity 0.25s, transform 0.25s;
    will-change: transform;
  }
  
  .btn span:before {
    width: 92px;
    height: 8px;
    bottom: -4px;
    opacity: 0.75;
    filter: blur(6px);
  }
  
  .btn span:after {
    width: 112px;
    height: 1px;
    bottom: 0;
    opacity: 0.9;
    filter: blur(1px);
  }
  
  .btn:hover span:before {
    opacity: 0.8;
  }
  
  .btn:hover span:before {
    transform: translateX(-50%) scale(1.25);
  }
  
  .btn:hover span:after {
    opacity: 1;
  }
  button a{
    text-decoration: none;
  }
  button a:link{
    color: white;
  }
  button a:visited{
    color: white;
  }
  button a:hover {
    color: black;
  }
  button a:active{
    color: darkgreen;
  }
  .gallery{
    display: flex;
    gap: 4px;
  }
  .card-div{
    position: relative;
    left: 0px;
    width: 90px;
    border-radius: 4px;
    padding: 8px;
    height: 500px;
    background-color: white;
    transition: 0.4s ease-in-out;
    flex: 1px;
  }
  .card-div:first-child{
    background-image: url(images/comets.webp);
  }
  .card-div:nth-child(n){
    background-color: #241354;
  }
  .card-div:nth-child(3){
    background-color: #1e346e;
  }
  .card-div:nth-child(4){
    background-color: #526d8d;
  }
  .card-div:nth-child(5){
    background-image: url(images/comets2.png);
  }
  .card-div:hover{
    flex: 2;
    font-weight: bold;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .card-div{
      overflow-y: scroll;
      height: 200px;
    }
  }
  footer  h4{
    font-family: fantasy;
    font-size: 30px;
    color: rgb(97, 142, 182);
  }
  .footer-links{
     text-underline-offset: 5px;
     text-decoration: none;
  }
  .footer-links:hover{
    text-decoration: underline;
 }

